footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 40px;
    color: #fff;
    background-color: #4e4e4e;
    width: 1262px;
    left: 1px;
    position: absolute;
    border-top: 5px solid gray;

}
footer>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    margin-top: 25px;
}